<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>687827756025-df39l4pcn3545tuo65td89rnqgbi8jpe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.687827756025-df39l4pcn3545tuo65td89rnqgbi8jpe</string>
	<key>API_KEY</key>
	<string>AIzaSyAV0sQTrWN8fadGRvT9gxcbM_--VvXqtf4</string>
	<key>GCM_SENDER_ID</key>
	<string>687827756025</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kavaloccaz</string>
	<key>PROJECT_ID</key>
	<string>kavaloccaz</string>
	<key>STORAGE_BUCKET</key>
	<string>kavaloccaz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:687827756025:ios:9a13707a0faf5d0d461328</string>
</dict>
</plist>